.sesion {
    background-color: #E6EFF6;
    border: 1px solid #E6EFF6 !important;
    border-radius: 5px;
    margin:3em 2em;
    padding: .9em;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mb-3 {
    width: 400px;
}
.botn {
    width: 116px;
    height: 30px;
    margin-top: 40px;
    background-color: var(--ds-background-brand-bold, #0079bf);
    border: none;
    box-shadow: none;
    color: var(--ds-text-inverse, #fff);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.botn:hover {
    background-color: #026299;
    transform: scale(1.1) skew(5);
}
.botn:active {
    transform: scale(1.03) rotate(2deg);
}
 @media (width: 896px) {
    .col-6{
        width: 26%;
        height: 40px;
    }
    .mb-3 {
        width: 100%;
    }
} 
 @media (width: 1920px) { 
.col-6{
    width: 33%;
    height: 40px;
}
.botn{
margin-top: 5px;
float: left;
}
.mb-3 {
    width: 550px;
}
    
} 
.col-6 {
    
    justify-content: center;
    align-items: center;
    float: left;
    width: 33%;
    height: 80px;
}

.tarea {
    margin-top: 5px;
    margin-bottom: 5px;
}

.titulo {
    width: 100%;
    background-color: #42526ee6;
    font-family: 'Times New Roman', Times, serif;
    height: 80px;
    border-radius: 8px;

}

#titulo_main {
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 10px;

}
.mb-3 .form-control{
    width: 100%;
    height: 100%;
    background: none;
    color: rgb(3, 3, 3);
    margin-top: 5px;
    padding-top: 30px;
    border: none;
    outline: 0px;

}
.sesion h1 {
    font-size: 24px;
    width: 100%;
    height: 100%;
    background-color: #42526e0f;
    color: rgb(3, 3, 3);
    padding-top: 5px;
    border: none none .2px none;
    outline: 0px;
}
